ul.photos, ul.comments, ul.tags, ul.locations, ul.commentors, ul.likers {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.photos li, ul.tags li, ul.locations li, ul.commentors li, ul.likers li {
    margin-left: 5px;
    display: inline;
}

div.nav-comments {
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

ul#myList button.selected {
    background-color: #3b99fc;
    color: white;
}

img.post {
    border: 1px solid black;
}

img.post:hover {
    opacity: 0.3;
}

p.comments {
    margin: 1px;
}

p.comment,
p.own-reply
 {
  margin-left: 10px;
}

div#loading-info {
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 15px;
    background-color: grey;
    color: white;
    opacity: 0.8;
}

p#loading-p {
    margin: 1px;
}

div.nav {
  padding: 5px;
  margin: 5px;
  display: inline-block;
}

div.elements {
    margin: 5px;
}

div#photos-by-data {
    margin-top: 10px;
}

div#btn-info {
    margin: 10px 10px;
}

img.post-hover {
  border: 1px solid black;
}

p.comments a { position:relative; }
p.comments a span { position:absolute; top: 20px; right: 0px; display:none; z-index:99; }
p.comments a:hover span { display:block; }
