body {
  padding: 0px;
  margin: 0px;
}

div .photo {
  display: inline;
  padding: 3px;
}

div.photos {
  margin: 5px;
}

a.darken img {
  border: 1px black solid;
}

a.darken:hover img {
    opacity: 0.4;
}
